.done {
  color: green;
}

.not-done {
  color: red;
  
}

.container{
        text-align: center;
    margin: auto;
    
    h1{
        margin-bottom: 50px
    }
}

.content{
        text-align: center;   
}